/*import tat ca cac file scss o day de su dung chung cho toan bo ung dung*/
@import 'normalize.css';
@import './_variable.module.scss';
@import './_mixins.module.scss';
@import './_global.module.scss';
