@import '@styles/_mixins.module.scss';
@import '@styles/_variable.module.scss';

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 83px;
  background-color: bisque;
}

.containerBoxIcon {
  @include flex_box_custom(center, center, 10px);
}

.containerMenu {
  @include flex_box_custom(center, center, 20px);
}

.containerBox {
  @include flex_box_custom(center, center, 20px);
}

.menuItem {
  padding: 0 8px;
  a {
    color: $primary-color;
    text-decoration: none;
    font-size: 14px;
  }
}

.boxIcon {
  @include radius_common(50%);
  @include flex_box_custom(center, center, 0px);
  background-color: $primary-color;
  width: 26px;
  height: 26px;
}

.menu::after {
  content: '';
  display: block;
  height: 3px;
  background-color: $primary-color;
  margin-top: 6px;

  transform-origin: right;
  transform: scale(0);
  opacity: 0;
  transition: transform 300ms, opacity 500ms;
}

.menu:hover::after {
  transform: scale(1);
  opacity: 1;
}
